body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
}


.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2a7f62;
  --bs-btn-border-color: #2a7f62;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #178375;
  --bs-btn-hover-border-color: #178375;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #178375;
  --bs-btn-active-border-color: #178375;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2a7f62;
  --bs-btn-disabled-border-color: #2a7f62;
}

.progress {
  --bs-progress-bar-bg: #2a7f62;
}

.navbar {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
}

nav.bg-liri {
  background-color: #2a7f62;
}

.nav-link {
  cursor: pointer;
  font-size: 0.875rem;
}

.navbar-brand {
  font-weight: bold;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #fff;
  font-size: 0.875rem;
}

.navbar a:hover,
.navbar .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.60);
  font-size: 0.875rem;
}

nav a.router-link-exact-active {
  color: #42b983;
}

.text-bold {
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}

/* Loader */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ripple div {
  position: absolute;
  border: 2px solid #2a7f62;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.75s;
}
@keyframes lds-ripple {
  0% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 36px;
    height: 36px;
    opacity: 0;
  }
}

.modal-full {
  margin-left: 30px;
  margin-right: 30px;
  --bs-modal-width: 100%;
}


/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #2a7f62;
  border-color: #308569;
} */

:root {
  --bs-link-color: #2a7f62;
  --bs-link-hover-color: #1d644d;
}

.nav-tabs {
  --bs-nav-tabs-link-active-color: #fff;
  --bs-nav-tabs-link-active-bg: #2a7f62;
  --bs-nav-tabs-link-active-border-color: #2a7f62;
}
