@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: Avenir, "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  padding-top: 65px;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}


.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2a7f62;
  --bs-btn-border-color: #2a7f62;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #348e70;
  --bs-btn-hover-border-color: #348e70;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #297f62;
  --bs-btn-active-border-color: #297f62;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2a7f62;
  --bs-btn-disabled-border-color: #2a7f62;
}

.progress {
  --bs-progress-bar-bg: #2a7f62;
}

.app-content-box {
  min-height: calc(100vh - 125px - 180px);
}

.navbar {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
}

nav.bg-liri {
  background-color: #2a7f62;
}

.nav-link {
  cursor: pointer;
  font-size: 0.875rem;
}

.navbar-brand {
  font-weight: bold;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #fff;
  font-size: 0.875rem;
}

.navbar a:hover,
.navbar .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.60);
  font-size: 0.875rem;
}

nav a.router-link-exact-active {
  color: #42b983;
}

.text-bold {
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}

/* Loader */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ripple div {
  position: absolute;
  border: 2px solid #2a7f62;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.75s;
}
.nav-link.active .lds-ripple.lds-white div {
  border: 2px solid #ffffff;
}
.lds-ripple.lds-xs {
  transform: scale(0.5);
  width: 14px;
  height: 15px;
  margin-bottom: 2px;
  margin-top: -9px;
}
@keyframes lds-ripple {
  0% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 36px;
    height: 36px;
    opacity: 0;
  }
}

.modal-full {
  margin-left: 30px;
  margin-right: 30px;
  --bs-modal-width: 100%;
}


/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #2a7f62;
  border-color: #308569;
} */

:root {
  --bs-link-color: #2a7f62;
  --bs-link-hover-color: #1d644d;
}

.nav-tabs {
  --bs-nav-tabs-link-active-color: #fff;
  --bs-nav-tabs-link-active-bg: #2a7f62;
  --bs-nav-tabs-link-active-border-color: #2a7f62;
}

.form-control:focus {
  border-color: #2a7f626e;
  outline: 0;
  box-shadow: none;
}

.color-group-0,
.tr-color-group-0 td {
  background-color: #ffe119;
}
.color-group-1,
.tr-color-group-1 td {
  background-color: #4363d8;
  color: #fff;
}
.color-group-2,
.tr-color-group-2 td {
  background-color: #f58231;
}
.color-group-3,
.tr-color-group-3 td {
  background-color: #dcbeff;
}
.color-group-4,
.tr-color-group-4 td {
  background-color: #800000;
  color: #fff;
}
.color-group-5,
.tr-color-group-5 td {
  background-color: #000075;
  color: #fff;
}
.color-group-6,
.tr-color-group-6 td {
  background-color: #a9a9a9;
}
.nav-tabs {
  box-shadow: 0 5px 7px -8px #777;
}

.text-bg-primary {
  background-color: #2a7f62 !important;
}

.badge {
  font-family: monospace;
  border-radius: 0.2em;
}


.btn-catchphrase {
  background-color: #2a7f62;
}

.btn-catchphrase:hover {
  background-color: #338b6e;
}

.btn-videoscope {
  background-color: #622A7F;
  border-color: #592573;
}

.btn-videoscope:hover {
  background-color: #7b379d;
  border-color: #6b2f87;
}

.btn-soundscript {
  background-color: #0059be;
  border-color: #0152af;
}

.btn-soundscript:hover {
  background-color: #0069d9;
  border-color: #005cb2;
}

.beta-flag {
  position: fixed;
  top: 0px;
  padding: 2px 12px;
  background-color: #fff;
  left: 20px;
  z-index: 10000;
  font-weight: 800;
  font-size: 9px;
  border-radius: 0 0 3px 3px;
}

.pre-line {
  white-space: pre-line;
}

@media screen and (max-width: 768px) {
  .modal-full {
    margin-left: 0;
    margin-right: 0;
  }
}